#content img:first-of-type {
	float: left;
	margin: 0 12px 8px 0;
	width: 40%;
}
/* Comments to be removed when construction banner is
#content p:first-of-type {
	margin-top: 0;
}
*/
#bottom_nav {
	display: inline-block;
	margin-top: 15px;
	padding-top: 6px;
	width: 100%;
	border-style: dotted;
	border-color: #ccc;
	border-width: 1px 0 0 0;
	font-size: .75em;
}
#bottom_nav #left_link {
	display: inline-block;
	width: 50%;
	float: left;
}
#bottom_nav #right_link {
	display: inline-block;
	width: 50%;
	float: right;
	text-align: right;
}
h1 {
	margin-top: 5px;
	text-align: left;
	font-size: 1.5em;
	margin-bottom: 5px;
}

@media (min-width: 600px) {
	#content img:first-of-type {
		width: 204px;
	    }
}

@media (min-width: 941px) {
	#content img:first-of-type {
		width: 240px;
	    }
}
