.nav_bar {
	display: inline-block;
	margin-top: 10px;
	padding-top: 11px;
	width: 100%;
	border-style: dotted;
	border-color: #ccc;
	border-width: 1px 0 0 0;
	font-size: .75em;
}
.nav_bar a, .nav_bar a:visited {
	background: #ccc;
	color: #fafafa !important;
	border-radius: 5px;
	font-size: .8em;
	font-weight: 500;
	margin: 0 5px;
	padding: 2px 5px;
}
.nav_bar a:hover {
	background: #777;
}
.nav_bar #current_page {
	background: #777;
}
.nav_bar .ellipsis {
	display:inline;
	position:relative;
	color:#aaa; 
	font-size:1.1em; 
	top:-2px;
	line-height: 0;
}
.nav_bar #nav_bar_left {
	float: left;
}
.nav_bar #nav_bar_right {
	float: right;
}
