{% extends "base.html" %}
{% block content %}
				{%- for post in post_info %}
				<div class="post">
					<h1><a href="/blog/{{ post[4] }}">{{ post[0] }}</a></h1>
					<a href="/blog/{{ post[4] }}"><img src="{{ post[1] }}" alt="" /></a>
					{{ post[2]|safe }}
					<span class="date_posted">Posted on {{ post[3] }}</span>
				</div>
				{% endfor -%}
				<!-- Possibly make links to page NUMBERS and FIRST/BACK/NEXT/LAST go into middle when page width is less than 600px, with the numbers over first/back/next/last links -->
				<div class="nav_bar">
{{ nav_html|safe }}
				</div>
{%- endblock %}
