{% extends "base.html" %}
{% block content %}
			{#- USER IS VERIFIED -- SHOW MANAGER PAGE -#}
				{% if user_verified %}
				<div id="new_post_container"><a href="/blog/manage/new_post">Create New Post</a></div>
				<h1 style="font-size:1.3em;font-weight:400;text-align:center;margin:0;">Manage Blog Posts</h1>
				<span id="table_header">
					<span id="post_title_head">Blog Post</span>
					<span id="actions_head">Actions</span>
				</span>
				<table id="posts_table">
					{% for post in posts %}
					<tr>
						<td class="post_title_col"><a href="/blog/{{ post['url_id'] }}">{{ post['title'] }}</a></td>
						<td class="actions_col"><a href="/blog/manage/edit/{{ post['url_id'] }}">Edit</a><a href="#" class="hide_show_link">{% if post['visibility']==1 %}Hide{% else %}Show{% endif %}</a></td>
					</tr>
					{% endfor %}
				</table>
				<div class="nav_bar">
					{%- for page_num in page_nums -%}
					<a href="/blog/manage/page/{{ page_num }}"{% if page_num == cur_page %} id="current_page"{% endif %}>{{ page_num }}</a>
					{%- endfor -%}
				</div>
				{% else %}
			{#- USER IS --NOT-- VERIFIED -- SHOW LOGIN PAGE -#}
				{% if wrong_pw_submission %}
				<p style="text-align:center"><strong>Error: </strong> Incorrect password. Please try again.</p>
				{% else %}
				<p style="text-align:center">You are currently unverified. Please enter this blog's password.</p>
				{% endif %}
				<form action="/blog/manage/verify" method="POST">
					<table style="margin:0 auto;font-size: .8em;">
						<tr>
							<td style="padding-right: 10px;">Blog Password: </td>
							<td><input type="password" maxlength="20" name="password" id="password" /></td>
						</tr>
						<tr>
							<td colspan="2" style="text-align:right;padding-top:6px"><input type="submit" value="Log In" /></td>
						</tr>
					</table>
				</form>
				{% endif %}
{%- endblock %}
