{% extends "base.html" %}
{% block content %}
				<img src="/static/images/mountain_view.jpg" alt="" style="width:100%" />
				<p>Hey! My name's Zach McGohan.</p>
				<p>I'm currently a second-year student at The Ohio State University studying Computer Science & Engineering. I've been tinkering with code, web design and a mess of other tech things since I ran across weird bracket thingies as a kid on Neopets and thought "What the heck do those do?" From there I've made quite a few of my own websites, made add-ons for games, worked on the source code for game servers, managed some large databases, and a good share of other stuff. At the moment I'm most interested in advancing my knowledge in areas related to artificial intelligence.</p>
				<p>In my spare time I like to program (of course), rock climb, snowboard, read, ride motorcycles, and in the near future I hope to get my skydiving license.</p>
				<p>On this site I have a list of <a href="/projects">past projects I've done</a> as well as <a href="/blog">a blog</a> which I keep up-to-date with my current tech-doings. Feel free to <a href="mailto:mcgohan.4@osu.edu">shoot me an e-mail</a> to get in contact!</p>
				<p style="font-size:.8em">(Also, try playing with the browser size or loading this site on mobile. It was made to be fully responsive!)</p>
{%- endblock %}
