{% extends "base.html" %}
{% block content %}
				{% for proj in projects %}
				<a href="{{ proj["link"] }}">
					<span class="project_box">
						<img src="{{ proj["image"] }}" alt="" />
						<span class="title">{{ proj["title"] }}</span>
						<span class="technologies">{{ proj["technologies"] }}</span>
					</span>
				</a>
				{% endfor %}
				<div class="nav_bar">
					{%- for page_num in nav_page_nums -%}
					<a href="/projects/page/{{ page_num }}"{% if cur_page == page_num %} id="current_page"{% endif %}>{{ page_num }}</a>
					{%- endfor -%}
				</div>
{%- endblock %}
