{% extends "base.html" %}
{% block content %}
				<style>
					.nav_bar {
						display: inline-block;
						margin-top: 10px;
						padding-top: 6px;
						width: 100%;
						border-style: dotted;
						border-color: #ccc;
						border-width: 1px 0 0 0;
						font-size: .75em;
					}
					.nav_bar a {
						margin: 0 6px;
					}
				</style>
				{% for proj in projects %}
				<a href="{{ proj["link"] }}">
					<span class="project_box">
						<img src="{{ proj["image"] }}" alt="" />
						<span class="title">{{ proj["title"] }}</span>
						<span class="technologies">{{ proj["technologies"] }}</span>
					</span>
				</a>
				{% endfor %}
				<div class="nav_bar">
					{{ nav_html|safe }}
				</div>
{%- endblock %}
